---
---

@import "";
@font-face {
  font-family: 'S-CoreDream-2ExtraLight'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'S-CoreDream-2ExtraLight', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
